body {
  font-family: 'Inter', Arial, sans-serif !important;
}

.logo a {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}

/* Code blocks */
.highlight span {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    margin: 0;
}

/* Inline code */
.post-content code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    font-size: .8em;
    padding: 2px 4px;
    margin: 0px;
    border-radius: 4px;
}

:root {
    --code-bg: rgb(233, 233, 233);
}
