.about-text p,
.about-text h1{
    margin-bottom: 1rem;
}

.profile-image {
    width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .profile-image {
        width: 200px;
    }
}

@media screen and (max-width: 425px) {
    .profile-image {
        width: 120px;
    }
}
